body {
    font-family: Arial;
    padding: 20px;
    background: #f7f7f7;
}

.products {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    width: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a {
    text-decoration: none;
    color: white;
    background: #007bff;
    padding: 6px 10px;
    border-radius: 5px;
}
